<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Clearance</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/morris.js-0.5.1/morris.css" rel="stylesheet" />
</head>
<body>
    @{ Html.RenderPartial("~/Views/Shared/_Navbar.cshtml"); }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - STI Cubao Clearance</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bootstrap-table/js")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/bootstrap-notify.min.js"></script>
    <script src="~/morris.js-0.5.1/morris.js"></script>
    <script src="~/Scripts/bootstrap-table-export.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            @Html.Raw(@ViewBag.Saved)
            @Html.Raw(@ViewBag.ErrorMessage)
            $('.field-validation-valid').addClass('text-danger');
            $(".table-reports").bootstrapTable({              
                pagination: true,
                striped: true,
                pagination: true,
                pageSize: 10,
                pageList: [10, 25, 50, 100, 200],
                search: true,
                showColumns: true,
                showToggle: true,              
                clickToSelect: true,
                showFilter: true,
                toolbar: '#filter-bar'
            });          
        });
    </script>


</body>
</html>
