@{
    ViewBag.Title = "Dashboard";
}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading clearfix">
                Student Records
            </div>
            <!-- Panel Content Goes Here..-->
            <div class="panel-body">
                <div id="donut-hey" style="height: 250px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading clearfix">
                Department Head Accounts
            </div>
            <!-- Panel Content Goes Here..-->
            <div class="panel-body">
                <div id="donut-how" style="height: 250px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading clearfix">
                Admin Accounts
            </div>
            <!-- Panel Content Goes Here..-->
            <div class="panel-body">
                <div id="donut-hui" style="height: 250px;"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading clearfix">
                Students Enrolled (S.Y)
            </div>
            <!-- Panel Content Goes Here..-->
            <div class="panel-body">
                <div id="myfirstchart" style="height: 250px;"></div>
            </div>
        </div>
    </div>


</div>
@*<h2>Sorry, We'll get back to you later..</h2>
    <img src="~/images/sorry.jpg" style="width: 960px; height: 540px;">*@

@section Scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script type="text/javascript">
    new Morris.Line({
        // ID of the element in which to draw the chart.
        element: 'myfirstchart',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: [
             { year: '2006', value: @ViewBag.TwentyOSix },
             { year: '2007', value: @ViewBag.TwentyOSeven },
             { year: '2008', value: @ViewBag.TwentyOEight },
             { year: '2009', value: @ViewBag.TwentyONine },
             { year: '2010', value: @ViewBag.TwentyOTen },
             { year: '2011', value: @ViewBag.TwentyOEleven },
             { year: '2012', value: @ViewBag.TwentyOTwelven },
             { year: '2013', value: @ViewBag.TwentyOThirteen },
             { year: '2014', value: @ViewBag.TwentyOFourteen },
             { year: '2015', value: @ViewBag.TwentyOFifteen }
        ],
        // The name of the data record attribute that contains x-values.
        xkey: 'year',
        // A list of names of data record attributes that contain y-values.
        ykeys: ['value'],
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: ['Value']
    });
    Morris.Donut({
        element: 'donut-hey',
        data: [
          { label: "Inactive", value: @ViewBag.InactiveStudents },
          { label: "Active", value: @ViewBag.ActiveStudents },
          { label: "Uncleared", value: @ViewBag.Uncleared }
        ]
    });
    Morris.Donut({
        element: 'donut-how',
        data: [
          { label: "Active", value: @ViewBag.ActiveEmployee },
          { label: "Disabled", value: @ViewBag.InactiveEmployee },
          { label: "Total", value: @ViewBag.TotalEmployee }
        ]
    });
    Morris.Donut({
        element: 'donut-hui',
        data: [
          { label: "Active", value: @ViewBag.ActiveAdmin },
          { label: "Disabled", value: @ViewBag.InactiveAdmin },
          { label: "Total", value: @ViewBag.TotalAdmin }
        ]
    });

    </script>
}
